<!DOCTYPE html>
<html>
  <head>
    <title>My Awesome App</title>
    <link rel="stylesheet" href="/css/main.css" media="screen" charset="utf-8">
  </head>
  <body>
    <h1>The Website Title Block</h1>
    <%= yield %>
    <script src="/js/main.js" charset="utf-8"></script>
  </body>
</html>
